/* {
  background: linear-gradient(to top, black, 0.15%, white);
} */

body {
  margin-left: 30%;
  margin-top: 30%;
}

div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 1rem;
  animation: scaling 2.5s ease-in-out infinite;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: rgba(117, 190, 218, 0.5);
  }
  40% {
    transform-scale(1);
    background-color:rgb(175, 119, 228, 0.5);
  }
  50% {
    transform: scale(1);
    background-color: rgba(236, 168, 225, 0.5);
  }
}

div:nth-child(1) {
  animation-delay: 0.2s;
}

div:nth-child(2) {
  animation-delay: 0.4s;
}

div:nth-child(3) {
  animation-delay: 0.6s;
}

div:nth-child(4) {
  animation-delay: 0.8s;
}

div:nth-child(5) {
  animation-delay: 1s;
}
